
<form  id="studentreg" class="container" ng-controller="facultyCtrl as factCtrl">
  <h2 align="center">Faculty REGISTRATION FORM</h2>
 
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="factCtrl.name" name="name" id="name" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" ng-model="factCtrl.pwd" name="pwd" id="pwd" placeholder="Enter password">
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="cpwd">Confirm Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" ng-model="factCtrl.cpwd" name="cpwd" id="cpwd" placeholder="Confirm password">
      </div>
    </div>
	
	 <div class="form-group">
	 <label class="control-label col-sm-2" for="pwd">DOB</label>
	 <div class="col-sm-10">
        <div class="input-group date" data-provide="datepicker">
			<input type="text" ng-model="factCtrl.dob" name="dob" class="form-control" placeholder="DOB">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-th"></span>
			</div>
        </div>
            </div>
     </div>
	  <div class="form-group">
	 <label class="control-label col-sm-2" for="pwd">Gender</label>
	 <div class="col-sm-10">
			<div class="radio">
			  <label><input type="radio" ng-model="factCtrl.gender" value="male" name="gender">Male</label>
			</div>
			<div class="radio">
			  <label><input type="radio" value="female" ng-model="factCtrl.gender" name="gender">Female</label>
			</div>
			</div>
     </div>
	 
	 <div class="form-group">
      <label class="control-label col-sm-2" for="fname">Subject name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="factCtrl.subjectName" name="fatherName" id="fatherName" placeholder="Subject name">
      </div>
     </div>
	 
	
	 
	  <div class="form-group">
      <label class="control-label col-sm-2" for="fcontact"> Contact:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="fatherContact" ng-model="factCtrl.contact" id="contact" placeholder="Faculty contact">
      </div>
     </div>
	 
	 <div class="form-group">
      <label class="control-label col-sm-2" for="religion">Experience:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="factCtrl.experience" name="experience" id="experience" placeholder="Enter Experience">
      </div>
     </div>
	 
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click="createFaculty()" class="btn btn-primary">Submit</button>
      </div>
    </div>

</form>
