
<div ng-controller="studentLoginCtrl as addCtrl">
 <div class="table-container">
      <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="col in columns" st-sort="{{col}}">{{col}}</th>
	</tr>
	<tr>
		<th>
			<input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
		</th>
		<th colspan="4">
			<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td ng-repeat="col in columns">{{row[col]}}</td>
	</tr>
	</tbody>
</table>
</div>
<div ng-show="isLoading" class="loading-indicator"></div>
</div>
